:root {
  --bg-grey: #2a2a2a;
  --transp-grey: rgba(38, 38, 38, 0.5);
  --bg-green: rgb(82, 255, 174);
  --dark-green: rgb(82, 225, 159);
  --lt-grey: rgb(199, 199, 199);
  --lt-grey-hl: rgb(242, 242, 242);
  --lt-green-bg: #2a2a2a;
  --roboto: 'Roboto';
  --kameron: 'Kameron';
}

html {
  font-size: 100%;
} /*16px*/

body {
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  height: 100%;
  background: white;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

#layout {
  display: grid;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  justify-items: center;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  color: black;
}

#header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

footer {
  background-color: var(--bg-green);
}

.nav {
  position: absolute;
  display: flex;
  overflow: hidden;
  z-index: 5000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-grey);
  top: -100%;
  height: 100vh;
  width: 100vw;
  padding: 0 10px;
}

/* .nav:first-child {
	justify-content: left;
} */
.nav.transition-open {
  transition: transform 1s ease-out;
  transform: translateY(100%);
}

.nav.transition-close {
  transition: transform 2s ease-out;
  transform: translateY(-100%);
}

#burger-open,
#burger-close {
  position: absolute;
  display: flex;
  font-size: 4em;
  transform: scale(0.25) translate(-100%, -100%);
  justify-content: center;
  align-items: center;
  z-index: 9000;
  background-color: var(--lt-grey);
  width: 2em;
  height: 2em;
  /* line-height: 1; */
  /* margin: 10px; */
  border-radius: 100%;
  cursor: pointer;
}

.menu-button {
  position: relative;
  margin: 2em 0;
  font-size: 2em;
  color: var(--lt-grey);
  transition: all 0.25s ease-out;
}

.menu-button:hover {
  color: var(--lt-grey-hl);
  transform: scale(1.1);
  font-weight: bold;
}

.menu-button:focus {
  transition: color 5s ease-in-out;
  color: orange;
}

#main-block {
  height: 100%;
}

#main-block p {
  font-family: var(--kameron);
}

.index {
  text-align: center;
}

#main-block-projects {
  display: grid;
  height: 100%;
  grid-template-rows: 100px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'header header';
  gap: 0.5em;
  box-shadow: 0 0 10px var(--lt-grey);
}

#main-block-projects h3 {
  place-self: center;
  grid-area: header;
}

#main-block-projects a {
  place-self: center;
}

.project-tile {
  display: grid;
  justify-content: center;
  color: var(--bg-green);
  background-color: var(--bg-grey);
  text-decoration: none;
  transition: transform 2s;
}

.project-tile-text {
  width: 360px;
  height: 200px;
  text-align: center;
}

#main-page-button {
  border: 0.1em solid var(--bg-green);
  border-radius: 5%;
  margin-top: 20px;
  padding: 0.5em 1em;
  background-color: var(--bg-green);
  color: var(--lt-green-bg);
  font-weight: bold;
}
@media screen and (min-width: 601px) {
  .project-tile a:focus {
    transform: scale(3);
  }

  .project-tile h3 {
    text-align: center;
  }

  .project-tile-overlay {
    z-index: 0;
    position: absolute;
  }
  .project-tile-text {
    z-index: 1;
    background-color: var(--transp-grey);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s;
  }

  .project-tile-text:hover {
    opacity: 100%;
  }
}

@media screen and (max-width: 600px) {
  #main-block-projects {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .project-body {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
  }
  .project-tile {
    position: relative;
    width: 100%;
  }

  .project-tile-overlay {
    position: absolute;
    z-index: 0;
  }
  .project-tile-text {
    background-color: var(--transp-grey);
    backdrop-filter: blur(10px);
    z-index: 1;
  }

  img {
    object-fit: cover;
  }
}
