.project-body {
  display: flex;
  width: 720px;
  flex-direction: column;
  align-items: center;
}

.project-body h3 {
  color: var(--bg-green);
}

.project-body h5 {
  font-family: var(--kameron);
  font-size: 1.25em;
}

.external-links {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

.external-links a {
  color: var(--bg-green);
  font-weight: bold;
  /* text-decoration-color: var(--bg-green); */
}
