.project-body {
  display: flex;
  width: 80vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.project-body h1 {
  color: rgb(66, 238, 158);
  font-weight: 400;
}

.project-body h3 {
  color: var(--bg-grey);
  font-size: 1em;
  font-weight: 400;
  margin-top: 0;
}

.project-body h5 {
  font-family: var(--kameron);
  font-size: 0.85em;
}

.project-main {
  display: flex;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.project-image {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.project-img {
  max-height: 80vh;
  max-width: 100%;
}

.project-content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--transp-grey-light);
  backdrop-filter: blur(30px);
  width: 30%;
  right: 0;
  margin-right: 2em;
  padding: 1em 1em;
  border-radius: 5px;
  box-shadow: var(--transp-grey) 0 0 20px 5px;
}

.project-content h5 {
  padding: 0;
  margin: 0;
}

.project-content p {
  font-size: 0.75em;
}

.external-links {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

.external-links a {
  color: var(--bg-green);
  font-weight: bold;
  /* text-decoration-color: var(--bg-green); */
}

@media screen and (max-width: 600px) {
  .project-body {
    width: 100vw;
  }

  .project-body p {
    width: 80%;
    text-align: center;
  }
}
