.index {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 5em 0 5em 0em;
}

.index h1,
.index p {
  padding-left: 1rem;
}

.index a {
  width: fit-content;
  align-self: center;
}

.index a:last-child {
  justify-content: flex-end;
}

.intro p {
  margin-bottom: 0;
  color: var(--bg-grey);
}

.intro h1 {
  font-weight: 600;
}
